KEYCLOAK_BASE_URL=http://localhost:8080
KEYCLOAK_REALM=approvia
KEYCLOAK_CLIENT_ID=user-service
KEYCLOAK_CLIENT_SECRET=user-service-secret
KEYCLOAK_SCOPE=openid

USER_SERVICE_HOST=127.0.0.1
USER_SERVICE_PORT=3001
PORT=3000
